



.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color:white;
   
}


.box
{ 
    width: 500px;
}

.button
{
    display: flex;
    background-color: green;
    color:white;
    border:none;
    padding: 10px 20px;
    font-size: 1.2rem;

    
}